html {
	margin: 0;
	background: #fefefe;
}

body {
	margin: 0;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

.container {
	border-radius: 15px;
	box-shadow: 3px 3px 27px 7px rgba(0,0,0,0.19);
}

.play {
	text-transform: uppercase;
	outline: 0;
	width: 100%;
	height: 5rem;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border-radius: 0px 0px 15px 15px;
	background: #4CAF50;
}

.play:hover, .play:active,.play:focus {
	background: #43A047;
}