html, body {
	height: 100%;
	margin: 0;
	background: #f8f8f8;
}

.container {
	width: 50%;
	margin: auto;
	margin-top: 100px;
}

.button {
	text-transform: uppercase;
	outline: 0;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	margin-top: 2em;
	box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.418);
}

.green {
	background: #4CAF50;
}

.green:hover, .button:active,.button:focus {
	background: #43A047;
}

.red {
	background: rgb(214, 52, 52);
}

.red:hover, .button:active,.button:focus {
	background: rgb(194, 38, 38);
}