<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Optional CSS -->
  <link rel="stylesheet" href="./player.css">
  <link rel="stylesheet" href="./styles.css">

  <title>Video Streaming Demonstration</title>
</head>
<body>
  <div class="container">
    <div class="player" wqcontrols>
      <video class="player__video viewer" src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"></video>
    </div>

    <button class="button green">Ação 1</button>
    <button class="button red">Ação 2</button>
  </div>

  <!-- Optional JavaScript -->
  <script src="./player.js"></script>
  
</body>
</html>