<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Optional CSS -->
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/player.css') }}">
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  
  <title>Video Streaming Demonstration</title>
</head>
<body>
  <div class="container">
    <div class="player" wqcontrols>
      <img class="player__video viewer" src="{{url_for('video_feed')}}"></video>
    </div>

    <button class="button green">Ação 1</button>
    <button class="button red">Ação 2</button>
  </div>

  <!-- Optional JavaScript -->
  <script src="{{ url_for('static', filename='js/styles.js') }}"></script>
  
</body>
</html>